header
{
    height: 50px;
    margin-top: 0px;

}
body
{
    font-family: verdana;
    background-color: #BCD3F2;
}
#active
{
    background-color: #5D6798;

}
nav
{
    background-color: #CB8589;
    padding: 5px;

}
nav ul 
{
    text-align: center;
    font-size: 1.2em;
}
nav ul li
{
    list-style-type: none;
    background-color: #BAAFD4;
    display: inline;
    padding: 15px;
    margin: 5px;
    /* border: 2px solid #000000; */
    border-radius: 25px;
}
nav ul li a 
{
    color: white; 
    text-decoration: none;
}
footer 
{
background-color: #CB8589;
/* to fix footer to bottom of webpage */
position: static;
margin-top: 10px;
left: 0px;
right: 0px;
margin-bottom: 0px;   
padding: 10px; 
}
footer p
{
    text-align: center;
    color: white;
}
details > summary 
{
  padding: 2px;
  width: 100%;
  max-width: 1000px;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  text-align: center;
  overflow: hidden;
  display: block;
  margin-top: 10px;
  margin-left: 5px; 
}
details > p {
  background-color: #b5bff2;
  padding: 4px;
  width: 100%;
  max-width: 1000px;
  margin: 0;
  margin-left: 5px; 
  width: auto;
  text-align: center;
}
.flex_container
{
    display: flex;
    width: 100%;
}
.mainleft
{
    flex: 2;
    min-width: 0;
    height: 350px;
}
main 
{
    display: grid;
    /* Column 1: Flexible space | Column 2: Fixed 250px for aside */
    grid-template-columns: 1fr 300px;
    gap: 20px;
    padding: 20px;
}
section {
    grid-column: 1; /* Forces all sections into the first column */
    padding: 20px;
}
.background
{
    border: 1px solid #ddd;
    background: #f4f4f4;
}
aside {
    grid-column: 2;
    grid-row: 1 / span 10; 
    /* Spans multiple rows to stay at the top right */
    position: sticky;
    top: 20px;
    background: #e2e2e2;
    padding: 20px;
    padding-top: 0px;
    border: 1px solid #ccc;
    max-height: 550px;
    overflow: auto;

}
aside ul li
{
    list-style-type: square;
}
.bullet_points > li
{
    list-style-type: lower-alpha;
}
.style
{
    text-align: justify;
}