/* all */
header
{
    margin: 0px;
    height: 180px;
    /* background-color: aliceblue; */
    padding: 1px;
    background-image: url(../images/mrsmittens-dogs-resize_1920x347.jpg);
    background-size: cover;
}
h1
{
    margin-top: 20px;
    padding: 30px;
}
body
{
    font-family: sans-serif;
    background-color: #BCD3F2;
    padding: 0px;
    margin: 0px;
    text-align: justify;
}
#logo
{
    float: left; 
    width: 100px; 
    height: 90px;
    margin-top: 10px;
    margin-left: 10px;
}
#active
{
    background-color: #5D6798;

}
nav
{
    background-color: #85b7cb;
    padding: 5px;

}
nav ul 
{
    text-align: center;
    font-size: 1.2em;
}
nav ul li
{
    list-style-type: none;
    background-color: #BAAFD4;
    display: inline;
    padding: 15px;
    margin: 5px;
    /* border: 2px solid #000000; */
    border-radius: 25px;
}
nav ul li a 
{
    color: white; 
    text-decoration: none;
}
footer 
{
background-color: #85b7cb;
/* to fix footer to bottom of webpage */
position: static;
margin-top: 10px;
left: 0px;
right: 0px;
bottom: 0px;
padding: 10px; 
}
footer p
{
    text-align: center;
    color: white;
}
footer ul
{
    text-align: center;
}
footer ul li
{
    list-style-type: none;
    display: inline;
    padding: 10px;
}
main 
{
    padding: 20px;
    margin: 10px;
}
section 
{
    grid-column: 1; /* sections located in column 1 */
    padding: 20px;
}
/* index page ========================================================================================*/
table
{
    width: 90%;
    border-collapse: collapse;
    font-size: 20px;
    margin: 20px;
}
th, tr, td
{
    text-align: left;
    border-style: none none solid none;
}
th
{
    width: 200px;
}
#column
{
    column-count: 2;
    column-gap: 30px;
    column-rule: 1px solid #5D6798;
}
#video
{
    text-align: center;
}
#video img
{
    border: 2px solid blueviolet;
    width: 32%;
    height: 20%;
}
.style ol li 
{
    margin-bottom: 10px;
}
#column img
{
    height: 25%;
    width: 40%;
}

/* legislation page ==================================================================================*/
details summary 
{
  padding: 2px;
  width: 100%;
  max-width: 1000px;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  text-align: center;
  overflow: hidden;
  display: block;
  margin-top: 10px;
  margin-left: 5px; 
}
details p 
{
  background-color: #b5bff2;
  padding: 4px;
  width: 100%;
  max-width: 1000px;
  margin: 0;
  margin-left: 5px; 
  width: auto;
  text-align: center;
}
#split_legislation
{
    display: grid;
    grid-template-columns: 1fr 30%;
    gap: 20px;

}
#legislation
{
    padding: 10px;
    padding-top: 0;
    border: 1px solid #000000;

}
#legislation ul li
{
    padding: 5px;
}


/* legislation & dog shelter pages*/
aside {
    grid-column: 2;
    grid-row: 1 / span 10; 
    position: sticky;
    top: 20px;
    background: #ffffff;
    padding: 20px;
    padding-top: 0;
    border: 1px solid #000000;
    max-height: 500px;
    overflow: auto;
}
/* legislation quick link */
aside ul li
{
    list-style-type: square;
}


/* dog shelters page =========================================================================================*/
.background
{
    border: 1px solid #524f4f;
    background: #ffffff;
    margin: 20px;
}
#split
{
    display: grid;
    /* fr = flexible = section| 300px = aside */
    grid-template-columns: 1fr 300px;
    gap: 20px;
}

.bullet_points
{
    padding-left: 5px;
}
.bullet_points  li
{
    padding-left: 1.5em;
    background-image: url(../images/elionas-silhouette-1314467_1920.png);
    background-size: 1em 1em;
    background-repeat: no-repeat;
    list-style-type: none;
}
.style
{
    list-style-type: none;
}

/* events page ===================================================================================================*/
article
{
    padding: 10px;
    margin: 10px;
    border-bottom: 2px solid #000000;
}
.events_column
{
    column-count: 2;
    column-gap: 50px;
    column-rule: 1px solid #5D6798;
    border: 1px solid #524f4f;
    background: #ffffff;
    margin: 20px;

}